<%= form_for(@dev) do |f| %>
   <div class="row">
     <div class="small-3 columns">
       <%= f.label :name, class: "right inline" %>
     </div>
     <div class="small-9 columns">
       <%= f.text_field :name %>
     </div>
   </div>

   <div class="row">
     <div class="small-9 small-offset-3 columns">
       <%= f.submit :class => "button small"%>
     </div>
   </div>
<% end %>