<div class="row">
   <div class='small-10 columns'>
   <%= link_to 'Cycle Time', cycles_dashboards_path, class: "button success", remote: true %>
   <%= link_to 'Completed Count', completed_dashboards_path, class: "button success", remote: true %>   
   <%= link_to 'In Progress Count', in_progress_dashboards_path, class: "button success", remote: true %>      
   <div id="cycle_chart" </div>
</div>
